.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 1rem;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.topic-title {
  flex-grow: 1;
}

.delete {
  margin-right: 1rem;
}